body {
  background-color: white;
  color: black;
}

.homePage {
 display: flex;
 flex-direction: column;
 margin-left: 15rem;
 margin-top: 30px;
}


.homePage img {
  display: flex;
  width: 100%;
}

.homePage button {
  background-color: orange;
  width: 58rem;
  height: 70px;
  font-size: 30px;
  cursor: pointer;
}

.bierListe img {
  width: 6rem;
  padding: 30px;
}

.bierListe {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bierListe hr {
  border: 2px solid red;
}

.bierTexte button {
  background-color: orange;

}

.bierTexte .pTag {
  color: orange;
  font-size: 20px;
  font-weight: 600;
}

.bierTexte p {
  font-weight: 500;
}

.bierTexte {
 margin-left: 15rem;
}

.bierDetailsTexte {
  text-align: left;
  margin-right: 50rem;
  margin-left: 20px;
}

.detailImg {
  display: flex;
  justify-content: center;
}

.emoji button{
  background-color: orange;
  width: 100%;
  height: 90px;
  font-size: 30px;
  cursor: pointer;
  font-size: 40px;
  background-color: orange;
}