
body {
  background-color: white;
  color: black;
}


.homePage {
  display: flex;
  flex-direction: column;
  margin-left: 15rem;
  margin-top: 30px;
 }
 
 
 .homePage img {
   display: flex;
   width: 100%;
 }
 
 .homePage button {
   background-color: orange;
   width: 100%;
   height: 70px;
   font-size: 30px;
   cursor: pointer;
 }

.bierListe img {
  width: 6rem;
  padding: 30px;
}

.bierListe {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bierListe hr {
  border: 2px solid red;
}



.bierTexte button {
  background-color: orange;

}

.bierTexte .pTag {
  color: orange;
  font-size: 20px;
  font-weight: 600;
}

.bierTexte p {
  font-weight: 500;
}

.bierTexte {
 margin-left: 15rem;
}

.bierDetailsTexte {
  text-align: left;
  margin-right: 50rem;
  margin-left: 20px;
}

.detailImg {
  display: flex;
  justify-content: center;
}

.detailImg img {
  height: 16rem;
  width: 70px;
}

.listEmoji {
  background-color: orange;
  width: 90rem;
  
}

.listEmoji button {
  background-color: orange;
  width: 100%;
  font-size: 40px;
  height: 90px;
  position: fixed;
  bottom: 0;
  
}

.emoji button{
  background-color: orange;
  width: 100%;
  height: 90px;
  font-size: 30px;
  cursor: pointer;
  font-size: 40px;
  position: fixed;
  bottom: 0;
  
}

.emoji {
  margin-bottom: 40px;
}


.randomFirstBrewed {
  display: flex;
  justify-content: space-between;
}

.randomAttenuationLevel {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 20px;
  font-weight: 400;
}

.randomTagline {
  font-size: 25px;
  color: orange;
}

.randomName {
  font-size: 30px;
  font-weight: 800;
}

.randomImg {
  display: flex;
  justify-content: center;
}

.randomSection {
  padding: 30px;
}